.fullBox {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding: 0 150px;
}
.filter {
  width: 49%;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}
.filter select {
  border: none;
  outline: none;
}
.addListingButton {
  width: 187px;
  height: 47px;
  margin-right: 10px;
  background-color: #f93b1d;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.cancelButton {
  width: 100px;
  height: 47px;
  margin-right: 10px;
  background-color: white;
  color: #f93b1d;
  border-radius: 10px;
  border: 1px solid #f93b1d;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s, border-color 0.2s;
}
.blur-background {
  filter: blur(7px);
  transition: filter 0.3s ease;
}
